Thank you for choosing Flight Booker!

Thank you <%= @passenger.name %>,
Your flight has been booked!
===============================================

Here are your flight details:
<%= @booking.flight.flight_name %>
Departure date: 
<%= @booking.flight.departure_time%>
Flight duration:
<%= @booking.flight.duration%> hours

Passenger information:
<% if @booking.passengers.present? %>
    <% @booking.passengers.each do |passenger| %>
        <%= passenger.name %> 
        <%= passenger.email %></li>
    <% end %>
<% else %>
"Passengers not found"
<% end %>

Thanks for choosing Flight Booker and have a wonderful day!