<h1>Welcome to the Flight booker!</h1>

<%= render partial: "search" %>

<% if @flight_result.present?%>
    <div id ="flight-result">
        <%= form_with do |form|%>
        <%= form.hidden_field :num_tickets, :value => params[:num_tickets] %>
            <% @flight_result.each do |flight| %>
                <div id="event">
                        <h3 id="Flight-name">
                            <% form.label :booking_option %>
                            <%= form.radio_button :booking_option, required: true %>
                            <%= flight.flight_name %>
                        </h3>
                        <div>
                            Departure Time: 
                            <%= flight.departure_time %>
                        </div>
                        <div>
                            Flight duration: 
                            <%= flight.duration %> hours
                        </div>
                </div>
            <% end %>
            <%= form.submit "Select Flight" %>
        <% end %>
    </div>
<% end %>

