
<%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: params[:flight_id] %>
    <%= form.hidden_field :num_tickets, value: params[:num_tickets] %>
    
    <div class="new-passenger-form">
        <% @num_tickets.times do %>
            <%= form.fields_for :passengers, Passenger.new do |sub_form| %>
                <div>
                    <%= sub_form.label :name %>
                    <%= sub_form.text_field :name, placeholder:"Type Your Name Here" %><br />
                </div>
                    <%= sub_form.label :email %>
                    <%= sub_form.email_field :email, placeholder: "YourEmailHere@email.com" %><br />
            <% end %>

        <% end %>
        <%= form.submit "Confirm Booking" %>
    </div>
<% end %>