

<%= @flight_option.flight_name %><br />
Departure date: 
<%= @flight_option.departure_time%><br />
Flight duration:
<%= @flight_option.duration%> hours<br />

<%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: params[:flight_id] %>
    
    <div class="new-passenger-form">
        <%= form.fields_for :passengers do |sub_form| %>
            <div>
                <%= sub_form.label :name %>
                <%= sub_form.text_field :name, placeholder:"Type Your Name Here" %><br />
            </div>
                <%= sub_form.label :email %>
                <%= sub_form.email_field :email, placeholder: "YourEmailHere@email.com" %><br />
        <% end %>
        <div>
            <button class="add_passenger_button" data-action="change->passenger#addPassengerForm" data-passenger-target="addPassengerButton" type="button">Add Passenger</button>
        </div>
        <%= form.submit "Confirm Booking" %>
    </div>
    
<% end %>